<!DOCTYPE html>
<html ng-app="buttonGenerator">
<head>
    <title>Button Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="assets/css/buttonGenerator.css"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>CSS3 Button Generator</h1>

        <p>HTML5 + JS page that helps you to create and beautify buttons using CSS3</p>
    </div>
</div>
<div class="container" ng-controller="ButtonGeneratorCtrl">
    <div class="row">
        <div class="col-lg-4">
            <form action="#" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Preview</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="normalize">
                                    <button id="preview1" name="preview1" ng-style='buttonStyle'>BUTTON</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <form action="#" method="post" class="form-horizontal">
                <div class="panel-group">
                    <div ng-repeat="propGroup in model | orderObjectBy:'order'" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{$index}}">
                                    {{propGroup.title}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row" ng-repeat="prop in propGroup.properties">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4">{{prop.label}}</label>

                                            <div class="col-lg-8">
                                                <input name="ps{{$parent.$index}}_prop{{$index}}" class="form-control input-sm" ng-model="prop.value" ng-if="!prop.options"/>
                                                <select name="ps{{$parent.$index}}_prop{{$index}}" class="form-control input-sm" ng-if="prop.options"
                                                        ng-model="prop.value" ng-options="item.label for item in prop.options"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/buttonGenerator.js"></script>
</body>
</html>